auto-install-peers = true
force-legacy-deploy = true
onlyBuiltDependencies[]=rolldown
onlyBuiltDependencies[]=@rolldown/binding-linux-x64-gnu
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@esbuild/linux-x64
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=@img/sharp-linux-x64
